Options -Indexes 
RewriteEngine On

RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

RewriteRule ^dictionary/([^/\.]+)/?$ dictionary.php?sk=$1&_=$2&-=$3 [L,QSA]
RewriteRule ^proverbs/([^/\.]+)/?$ proverbs.php?sk=$1&_=$2 [L,QSA]
RewriteRule ^proverbs/([^/\.]+)/?$ jokes.php?sk=$1&_=$2 [L,QSA]
RewriteRule ^search/([^/\.]+)/?$ search.php?sk=$1&_=$2 [L,QSA]
RewriteRule ^grammar/([^/\.]+)/?$ grammar.php?sk=$1&_=$2 [L,QSA]
RewriteRule ^entertainment/([^/\.]+)/?$ entertainment.php?sk=$1&_=$2 [L,QSA]
RewriteRule ^recipes/([^/\.]+)/?$ recipes.php?sk=$1&_=$2 [L,QSA]
RewriteRule ^people/([^/\.]+)/?$ people.php?sk=$1&_=$2 [L,QSA]
RewriteRule ^activate/([^/\.]+)/?$ activate.php?sk=$1 [L,QSA]
RewriteRule ^accounts/([^/\.]+)/?$ accounts.php?sk=$1 [L,QSA]
RewriteRule ^manage/([^/\.]+)/?$ manage.php?sk=$1&_=$2 [L,QSA]
RewriteRule ^myprofile/([^/\.]+)/?$ myProfile.php?sk=$1&_=$2 [L,QSA]
RewriteRule ^contributor/([^/\.]+)/?$ user.php?sk=$1&_=$2 [L,QSA]
RewriteRule ^learn/([^/\.]+)/?$ learn.php?sk=$1&_=$2 [L,QSA]
RewriteRule ^tutorials/([^/\.]+)/?$ education.php?sk=$1&_=$2 [L,QSA]
RewriteRule ^membership/([^/\.]+)/?$ membership.php?sk=$1&_=$2 [L,QSA]
RewriteRule ^api/([^/\.]+)/?$ webBackend.php?method=$1&parameter=$2 [L,QSA]

RewriteRule kaya index.php [NC,L]
RewriteRule translator translate.php [NC,L]
RewriteRule chatbot chatbot.php [NC,L]
RewriteRule contact contact.php [NC,L]
RewriteRule about about.php [NC,L]
RewriteRule privacy privacy.php [NC,L]
RewriteRule team team.php [NC,L]
RewriteRule legal terms.php [NC,L]
RewriteRule sources references.php [NC,L]
RewriteRule disclaimer disclaimer.php [NC,L]
RewriteRule press press.php [NC,L]
RewriteRule status status.php [NC,L]

RewriteRule entertainment entertainment.php [NC,L]

RewriteRule appstore android.php [NC,L]
RewriteRule products android.php [NC,L]

RewriteRule dictionary dictionary.php [NC,L]
RewriteRule search search.php [NC,L]
RewriteRule proverbs proverbs.php [NC,L]
RewriteRule grammar grammar.php [NC,L]
RewriteRule people surnames.php [NC,L]
RewriteRule exercises exercises.php [NC,L]
RewriteRule learn learn.php [NC,L]
RewriteRule tutorials education.php [NC,L]
RewriteRule membership membership.php [NC,L]
RewriteRule contributor user.php [NC,L]

RewriteRule rest-api rest.php [NC,L]
RewriteRule api webBackend.php [NC,L]

RewriteRule access access.php [NC,L]

RewriteRule myprofile myProfile.php [NC,L]
RewriteRule manage manage.php [NC,L]

RewriteRule activate activate.php [NC,L]
RewriteRule accounts accounts.php [NC,L]
RewriteRule register signup.php [NC,L]
RewriteRule login signin.php [NC,L]
RewriteRule signout signout.php [NC,L]

RewriteCond %{HTTP_HOST} ^xitsonga.org$
RewriteRule ^/?$ "https\:\/\/www\.xitsonga\.org\/" [R=301,L]