Options All -Indexes
Options +FollowSymLinks

RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule home index.php [NC,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule push push.php [NC,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule progress track.php [NC,L]