/* Header */
@font-face{
    font-family: Slabo-Regular;
    src: url(font/roboto/Roboto-Regular.ttf);
}
@font-face{
    font-family: Roboto-Light;
    src: url(font/roboto/Roboto-Regular.ttf);
}
@font-face{
    font-family: Roboto-Regular;
    src: url(font/roboto/Roboto-Regular.ttf);
}

@font-face{
    font-family: Roboto-Italic;
    src: url(font/roboto/Roboto-Regular.ttf);
}

@font-face{
    font-family: Roboto-Italic2;
    src: url(font/roboto/Roboto-Regular.ttf);
}

@font-face{
    font-family: Roboto-BlackItalic;
    src: url(font/roboto/Roboto-Regular.ttf);
}

@font-face{
    font-family: Roboto-Thin;
    src: url(font/roboto/Roboto-Thin.ttf);
}

@font-face{
    font-family: RobotoCondensed-LightItalic;
    src: url(font/roboto/RobotoCondensed-LightItalic.ttf);
}

@font-face{
    font-family: Quicksand-Regular;
    src: url(../fonts/Arcon-Regular.otf)
}

.mission{
    margin: 20px;
    font-size: 18px;
    color:whitesmoke;
    font-family: Quicksand-Regular;
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: 'Select some files';
  display: inline-block;
  background: linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

#head { background: url(../images/1234.png) no-repeat; background-size: 1170px;background-position: center;min-height:200px; text-align: center; padding-top:0px; color:#F0F0F0;font-weight:300; margin-top: 0px}
#head .top_header {
    width:40%;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: -10px;
}
#head.secondary { height:100px; min-height: 100px; padding-top:0px; }
	#head .lead { font-family:Roboto-Regular; font-size:30px; margin-bottom:0px; color:white; line-height:70px; } 
	#head .tagline { color:rgba(255,255,255,0.75); margin-bottom:25px; }
		#head .tagline a { color:#fff; } 
	#head .btn { margin-bottom:10px;}
	#head .btn-default { text-shadow: none; background:transparent; color:rgba(255,255,255,.5); -webkit-box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.5); -moz-box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.5); box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.5); background: transparent; }
		#head .btn-default:hover,
		#head .btn-default:focus { color:rgba(255,255,255,.8); -webkit-box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.8); -moz-box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.8); box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.8); background: transparent; }
		#head .btn-default:active, 
		#head .btn-default.active { color:#fff; -webkit-box-shadow:inset 0px 0px 0px 3px #fff; -moz-box-shadow:inset 0px 0px 0px 3px #fff; box-shadow:inset 0px 0px 0px 3px #fff; background: transparent; }

@media (max-width: 767px) {
	#head { min-height:420px; padding-top:420px; }
	#head .lead { font-size: 24px;}

        #head .top_header {
            color:#4F4F4F;
            width:auto;
            margin-left: 10px;
        }
        .sub_heading div img{
           margin-top: 0px !important;
           padding-top: 10px !important;
       }
        .sub_heading{
          border-top:1px solid #EEEEEE;
          border-bottom:1px solid #EEEEEE;
          background: #F5F5F5;
      }
      .sub_links{
          margin-top: 10px;
          margin-bottom: 10px;
      }
       .sub_links ul{
           margin-left: 10px;
       }
      .sub_heading h4{
         text-transform: uppercase;
         color:#4D4D4D;
         font-size: 14px;
      }
     #head { background:#FCFCFC; min-height:0px; text-align: center; padding-top:0px; color:white; font-family:Roboto-Regular; font-weight:300; }

}

@media (max-width: 400px) {
	#head { min-height:0; padding-top:0px; }
}

.updated_row {
    background: #B4EEB4;
}

.removed_row {
    background: #F04D00;
}

.entity_image{
	max-height:100px;
        min-height:100px;
	max-width:150px;
        min-width:150px;
	overflow:hidden;
	border:1px solid #E8E8E8;
}
div.dataTables_length {
    padding-left: 2em;
    }
    div.dataTables_length,
    div.dataTables_filter {
        padding-top: 0.55em;
    }

.richContentStyle .table tr{
    border: 1px solid #ccc; 
}
.richContentStyle .table td{
    border: 1px solid #ccc; 
}
.richContentStyle .table { 
   width: 100% !important; 
   border-collapse: collapse; 
 }
 /* Zebra striping */
.richContentStyle .table tr:nth-of-type(odd) { 
   background: #eee; 
 }
.richContentStyle .table tr:first-child{ 
   background: #9FB6CD;
   color: white; 
   font-weight:100 !important;
 }
 
.richContentStyle .table td, .richContentStyle .table th { 
   padding: 6px; 
   text-align: left; 
   width:50%;
   font-weight: lighter;
 }        
   
.answersStyle{
    padding: 10px;
    margin: 10px;
    border:2px dotted #EBEBEB;
}

.richContentStyle{
    margin-top: 10px;
    color:#454545!important;
    background:#FAFAFA;
    padding: 10px;
    border:1px solid #DEDEDE;
    font-size: 14px !important;
}

.richRefStyle{
    margin-top: 10px;
    font-size: 14px;
    background: #F5F5F5;
    border:1px solid #E3E3E3;
    padding: 10px;
}

.results_div{
    margin:5px;
    border:1px solid #C9C9C9;
    background: #EBEBEB;
    padding: 10px;
    text-align: right;
}

.save_as_div{
  padding: 5px; 
  border-bottom:1px solid #EBEBEB;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 10px;
  margin-top: -10px;
  overflow-y: hidden;
}
.save_as_div .loading_image img{
    margin-top: 5px;
    width:20px;
    float: left;
}
.link_group img{
    width:15px;
    margin-top: -3px;
}
.link_group a{
    font-size: 11px;
    color:#707070;
}
.link_group a:hover{
    text-decoration: none;
}
.link_group{
    margin: 2px;
    background: #F5F5F5;
    display: inline;
    padding: 0px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    border-radius:3px;
    border: 1px solid #E0E0E0;
    float: right;
}
.boarder_row tr{
    border-bottom: 1px solid #F5F5F5;
    margin-bottom: 2px;
}

.searchbox input{
    min-height: 30px !important;
    font-size: 13px;
}

.searchresults{
    margin-left: -10px;
    margin-right: -10px;
}

.searchresults .gsc-thumbnail-inside{
    margin-left: -10px;
}

.searchresults .gs-bidi-start-align{
    margin-left: -10px;
}
.searchresults .gs-snippet{
    margin-left: 0px;
}
.about_app{
    font-size: 16px;
}
.app_div{
    font-size: 16px;
}
.heading1{
    font-size: 20px;
    text-transform: uppercase;
    margin-top:15px;
    margin-bottom:15px;
    color:#FF6103;
}

.profile_picture{
    width:50px;
    height: 50px;
    max-height: 50px;
    max-width: 50px;
    overflow: hidden;
    border: 1px solid gray;
    margin-right: 10px;
}

.margin_class{
    margin-top:5px;
    margin-bottom:15px;
}

.profile_bio{
    font-family: Roboto-Italic2;
    font-size: 16px;
}

.heading_deco{
    font-family: "Aleo",Georgia,serif;
    font-size: 20px;
    padding-top: 35px;
}

.star-rating{
    background: #E0EEEE;
    padding: 10px;
    margin-left: -15px;
    margin-right: -30px;
     margin-top: 5px;
}

.rating_message{
    font-size: 13px;
    color: #6E6E6E;
    margin-bottom: 5px;
}

/* Autohide navbar */
.slideUp { top:-100px; }
.headroom { -webkit-transition: all 0.4s ease-out; -moz-transition: all 0.4s ease-out; -o-transition: all 0.4s ease-out; transition: all 0.4s ease-out; }


/* Highlights (in jumbotron in most cases) */
.highlight { margin-top:40px; }
	.h-caption { text-align: center; } 
	.h-caption i { display:block; font-size: 54px; color:#382526; margin-bottom:36px; }
	.h-caption h4 { color:#382526; font-size: 16px; font-weight: bold; margin-bottom:20px; }
	.h-body { }


/* Typography */
h1, h2, h3, h4, h5, h6 { font-family:Roboto-Regular, Helvetica, Arial; padding: 0px}
h1, .h1, h2, .h2, h3, .h3 {  } 
blockquote { font-style: italic; font-family: Georgia; color:#999; margin:30px 0 30px; }
label { color: #777; }
.thin { font-weight:300; }
.page-title { margin-top:20px; font-weight:300; }
.text-muted { color:#888; }
.breadcrumb { background:white; padding:15px;  margin:3px 0px 5px 0px; width:99.5%;}
ul.list-spaces li{ margin-bottom:10px; }

/* Helpers */
.container-full { margin: 0 auto; width: 100%; }
.top-space { margin-top: 60px; }
.top-margin { margin-top:20px; }

img { max-width:100%; }
img.pull-right { margin-left: 10px; }
img.pull-left { margin-right: 10px; }
#map { width:100%; height:280px; }
#social { margin-top:50px; margin-bottom:50px; }
	#social .wrapper { width:340px; margin:0 auto; }

.red{
    color:#009ACD;
}

.redColor{
    color:#EE4000;
}
.dialog_table tr{
	border-bottom:1px solid #F2F2F2;
	padding-bottom:5px;
}

.img{
    border:1px solid silver;
}

.heading_div{
    color:#EF4000 ;
    border-bottom: 1px solid #E3E3E3;
    font-size: 14px;
    margin-top: -10px;
    margin-left: -15px;
    margin-right: -15px;
    padding: 10px;
    padding-top: 12px;
    text-transform: capitalize;
}
.list_with_image_div img{
    border:1px solid #F2F2F2;
   
}
.list_with_image_div h4{
    font-size: 14px;
}

.heading_div i{
    color:#009ACD;
}
.saying_div{
    background: #F5F5F5;
    margin-top: 5px;
    padding: 10px;
}

.richTextDivList{
    margin-bottom: 5px;
    padding: 10px;
}
.richTextDivList:nth-of-type(odd){
    
}
.richTextDivList a{
    font-size: 15px !important;
}

.richTextDivList .author{
    color:#696969;
}

.poem_heading{
    font-family: "Aleo",Georgia,serif;
    font-size: 20px;
    line-height: 1.0625;
    margin-top: -15px;
}

.poem_body{
    font-family: "Aleo",Georgia,serif;
    font-size: 14px;
}

.top_links a{
    color:#595959;
    margin-left:15px;
}

.top_links_cover{
    padding-bottom: 3px;
    border-bottom: 1px solid #E5E5E5;
}
.audit_trail{
    margin:0 auto;
    width: 90%;
    background: #F5F5F5;
    font-size: 12px;
    padding: 10px;
}
#dictionary_data_table{
    margin-top:5px;
}
#dictionary_data_table tr{
    border: 1px solid #EBEBEB; 
}
table#dictionary_data_table { 
   width: 100%; 
   border-collapse: collapse; 
 }
 /* Zebra striping */
#dictionary_data_table tr:nth-of-type(odd) { 
   background: #F5F5F5; 
 }
#dictionary_data_table th { 
    background: #9FB6CD;
   color: white; 
 }
#dictionary_data_table td, th { 
   padding: 6px; 
   text-align: left; 
   font-weight: lighter;
 }        

.rating_div{
    padding: 15px;
    margin-top:5px;
    padding-left: 0px;
 }
body.home{
    background: white;
}     
@media(min-width:1000px){
    .left_admin{
          width:20%
      }
      .right_admin{
          width:79%;
      }
      
      .product {
      }
      
      .fillWebsite{
         width:225px !important;
     }
      
}
@media(min-width:1200px){
    .fillWebsite{
         width:260px !important;
     }
}
#dictionary_data_table .first_td{
    width:50%;
}

.dictionary_list{
    min-height: 30px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 15px;
    font-size: 14px;
    border: 1px solid #E3E3E3;
}
.dictionary_list:nth-of-type(odd){
   background: #FCFCFC;
}
.dictionary_list2{
    list-style: square;
    
}
.dictionary_list2 li{
    margin-left: -25px;
}
.dictionary_list .firstLetter{
    font-size: 25px;
    color:#428bca;
}

.dictionary_list:hover{
   
}
.dictionary_list a{
    font-size: 14px;
}
.richTextDivList a{
    font-size: 15px;
}
.richTextDivList span.type{
    font-size: 12px;
    font-weight: 500;
    color:#828282;
}
.richTextDivList span{
    font-size: 12px;
    font-weight: 500;
    color:#CD3700;
}

.dictionary_list2 span{
    font-weight: 500;
    color:gray;
}

.dictionary_list2 span.type{
    color:#757575;
    font-weight: 100;
}

.dictionary_list2 span.type2{
    color:#EEC900;
    font-weight: 100;
}


span.type2{
    color:#EEC900;
    font-weight: 100;
}

.dictionaryHeader{
    font-family: Roboto-Italic2;
    color:#EE4000;
    margin-bottom: 15px;
}
 .marginRightTablet {
    margin-top: 10px;
 }
/* Main content block */
@media (min-width: 767px) {
    .maincontent {background: white; margin-left: 5px;border:1px solid #D9D9D9}
    .sidebar { padding-top:36px; padding-bottom:30px; background: none;margin-right:0px;}
    body.home{background: #E9EAED;}
    .breadcrumb { background:white; padding:15px;  margin:-5px 0px 5px 0px; width:99.5%;}
    #dictionary_data_table td{
        min-width: 150px;
    }
    #dictionary_data_table tr{
         border: 1px solid #EBEBEB; 
    }
    table#dictionary_data_table { 
        width: 100%; 
        border-collapse: collapse; 
      }
      /* Zebra striping */
     #dictionary_data_table tr:nth-of-type(odd) { 
        background: #F9F9F9; 
      }
     #dictionary_data_table th { 
        background: #F2F2F2; 
        font-size: 14px;
        font-weight: bold;
        color: #2E2E2E; 
      }
     #dictionary_data_table td, th { 
        padding: 6px; 
        text-align: left; 
      }
      #dictionary_data_table .first_td{
          width:30%;
      }
      
      .sub_heading{
          margin-top: 2px;
          margin-bottom: 2px;
      }
      .sub_links{
          margin-top: 10px;
          margin-bottom: 10px;
      }
       .sub_links ul{
           margin-left: 10px;
       }
       
       .sub_heading div img{
           margin-top: 0px !important;
           padding-top: 10px !important;
       }
      .sub_heading h4{
         color:#465965;
         font-size: 14px;
         height: 15px;
         cursor: pointer;
      }
      .h4_heading{
         color:#4D4D4D;
         font-size: 14px;
      }
      .pagination_div{
          padding-bottom: 5px;
          overflow: hidden;
          margin: 0 auto;
      }
      .new_heading{
          padding:5px;
          color:#4A4A4A;
          border-bottom:1px solid #D6D6D6;
      }
      .new_heading h4{
          margin-left: 10px;
          font-size: 14px;
      }
      .bigger_button{
          min-width:75px;
          min-height: 30px;
          line-height: 33px;
          text-align: center;
      }
      .width_12{
          width:12%;
      }
      .width_86{
          width:86%;
      }
      
    .marginRightTablet {
        background: white !important;
        margin-left: 10px;
        margin-top: 0px;
        border:1px solid #D9D9D9;
     }
     
     .fillWebsite{
         width:180px;
     }
      
}
.new_heading{
    padding:5px;
    color:#4A4A4A;
    border-bottom:1px solid #D6D6D6;
}
.new_heading h4{
    margin-left: 10px;
    font-size: 14px;
}
.newBody{
    margin:-15px;
    margin-top:10px;
    margin-bottom:10px;
    padding: 15px;
    background: #FBFBFB;
    border:1px solid #AAAAAA;
    border-left: 15px solid #F4C430;
    border-right: none;
    color:#4A4A4A;
}
.newBody li{
    margin-left: -25px;
}
@media (max-width: 1000px) {
    .marginTablet{
        margin-top: 10px;
    }
    
    .maincontent{
        margin-left: 0px !important;
        margin-top: 10px !important;
    }
    
}

@media (max-width: 767px) {
    .marginTablet{
        margin-top: 5px;
    }
    .adminContainer{
        margin-top: -25px;
    }
}

.main_action{
    background: #F3F3F3 ;
    color: #666666;
    border:1px solid #00868B;
}
.main_action:hover{
    background: #F3F3F3 !important;
    color: #888 !important;
}
.main_action:active{
    background: #F3F3F3 !important;
    color: #888 !important;
}
.prayer{
    text-align: center;
    font-size: 16px;
    font-family: Roboto-Italic2;
}


.main_image_style{
    max-width:100%;
    max-height: 100%;
    float: left;
    overflow: hidden;
    margin:10px;
    margin-bottom:15px;
    margin-top:0px;
}

.translations {
    padding-top: 15px;
    padding:10px;
}

.desc_heading{
    border-bottom: 1px solid #EDEDED;
    margin-left: -15px;
    margin-right: -30px;
    overflow: hidden;
    margin-bottom: 10px;
    margin-top: -20px;
}
.desc_heading h4{
    padding: 10px;
    padding-left: 10px;
    font-size: 20px;
    color:#2E2E2E;
}
.details_entity_view{
    margin-left: 5px;
    padding: 2px;
    padding-left: 10px;
    margin-bottom: 5px;
    border-bottom:1px solid #EDEDED;
}
.details_entity_view span{
    color:#00BCD4;
}

.item_image_cover{
    width:100%;
    max-height: 150px;
    overflow: hidden;
}
.item_image_cover img{
    width:150px;
}

.style_para{
white-space: pre;
}

.defination_extra{
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #F0F0F0;
}

.pagination{
	display: inline-block;
	margin: 2px 2px 2px 0px;
	border-radius:0px;
        padding-left: 10px;
        padding-right: 10px;
	text-decoration: none;
	width: auto;
	color: #474747;
        border: 1px solid #CFCFCF;
	background: #F0F0F0 none repeat scroll 0% 0%;
}

#fileContentsServer{
    max-height: 300px;
    overflow-y: scroll;
}

.pagination.current{
	background:#CFCFCF;
}

.div_change{
	background:#FFFFFF;
	border:1px solid #E5E5E5;
}
.app p{
}
.app h3{
    text-transform: uppercase;
    font-size: 20px;
    padding: 20px;
    padding-left: 10px;
    color:#FCFCFC;
}
.app h3{
    background: #66BB6A;
    margin-left: -15px;
    margin-right: -15px;
    margin-top: -1px;
}

.app .color2{
    background: #00BCD4;
}

.app .color3{
    color:#00BCD4;
}
.list{
    list-style: none;
    margin-left: -40px;
}

.list li{
    line-height: 25px;
}
/* Sidebars */
.sidebar { padding-top:10px; padding-bottom:10px;margin-right:0px}
	.sidebar .widget { margin-bottom:0px; }
	.sidebar h1, .sidebar .h1, .sidebar h2, .sidebar .h2, .sidebar h3, .sidebar .h3 { margin-top:0px; } 

/* Footer */
.border_gray{
    font-size: 14px;
}
.footer1 { background: white; padding: 15px 0 0 0; font-size: 12px; color: #2E2E2E;border-top: 1px solid #CCC;}
	.footer1 a { color: #515151; }
		.footer1 a:hover {color: #4A9CCF; }
	.footer1 .widget { margin-bottom:10px; }		
	.footer1 .widget-title { font-size: 17px; font-weight: bold; color: #ccc; margin: 0 0 20px; }
	.footer1 .entry-meta { border-top: 1px solid #ccc; margin: 0 0 35px 0; padding: 2px 0; color: #888888; font-size: 12px; font-size: 0.75rem; }
		.footer1 .entry-meta a { color: #333333; }
		.footer1 .entry-meta .meta-in { border-top: 1px solid #ccc;  padding: 10px 0; }
	.follow-me-icons { font-size:30px; }		
		.follow-me-icons i { float:left; margin:0 10px 0 0; }
                
@media (max-width: 767px) {
    .border_gray{
        border-bottom:1px solid #D9D9D9;
        font-size: 14px;
    }
    .footer1{
        border-top: 1px solid #D9D9D9;
        box-shadow:0px 0px 0px rgba(0, 0, 0, 0.1);
    }
    
    .newBody{
       margin: -15px;
       border:1px solid #AAAAAA;
       border-left: 15px solid #F4C430;
       margin-top:10px;
       margin-bottom:10px;
       
    }
}    

.footer2 { background: none; padding: 10px 0; color: #515151; font-size: 13px; padding-bottom: 10px;}
	.footer2 a { color: #303030; }
		.footer2 a:hover { color: #4A9CCF; }
		.footer2 p { margin: 0; }

	.widget-simplenav { margin-left:-5px; }		
	.widget-simplenav a{ margin:0 5px; }		
        
        
        
        .droppable {
	border: #ccc 1px solid;
	border-radius: 8px;
	background: #eee;
	color: #666;
	padding: 20px;
	margin: 10px;
	clear: both;
	text-align: center;
}

.droppable.hover {
	background: #ddd;
}

.uploadList {
	margin: 0;
	padding: 0;
	list-style: none;
}

.uploadItem {
	overflow: hidden;
	border-bottom: #BCBCBC 1px solid;
	margin: 0 20px;
	padding: 3px;
}

.uploadItem span {
	overflow: hidden;
	width: 150px;
	float: left;
	display: block;
}

a.addInputRow,
a.delInputRow,
.uploadItem a {
	display: inline-block;
	background: url(add.png) no-repeat;
	height: 16px;
	width: 16px;
	text-indent: -999px;
}

.uploadItem a {
	float: left;
	display: block;
	padding-left: 20px;
	background-image: url(delete.png);
}

a.delInputRow {
	background-image: url(delete.png);
}

.progress {
	margin: 5px 0;
	height: 15px;
	border-radius: 3px;
	background: #545A74;
}

#my-file{
    position:absolute;
    left:0;
    top:0;
    background:red;
    width:100%;
    height:100%;
    opacity:0;
}

#file-wrap{
    position:relative;
    width:100%;
    padding: 30px;
    display: block;
    border: 2px dotted #ccc;
     margin: 10px auto;
    text-align: center;
    height: 100px;
    background: #FBFBFB;
    box-sizing:border-box;
    border-radius: 5px;
}

#translation {
    position:relative;
    width:100%;
    min-height: 100px;
    display: block;
    border: 2px dotted #ccc;
    margin: 10px auto;
    box-sizing:border-box;
    background: #FBFBFB;
    border-radius: 5px;
}

.progress-first-state {
    background: #FBFBFB;
    margin-top: 5px;
    height: 30px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

.progress-processing-state {
    background: coral;
    margin-top: 5px;
    height: 30px;
    border: 1px solid white;
    border-radius: 5px;
}