@font-face {
  font-family: 'Helvetica';
  src: url("Helvetica.otf");
  font-weight: lighter;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body{
    margin: 0;
    padding: 0;
    font-family: "Helvetica","Arial";
    font-size: 13px;
    color:#595959;
    line-height: 20px;
    background: #D9D9D9;
}

#footerDiv p{
      padding: 0;
    font-family: "Helvetica","Arial";
    font-size: 14px;
   line-height: 20px;
}

a:link, a:visited {
    color: #FC860C;
    text-decoration: none;
}

#wrapper {
    width: 1000px;
    background: #F3F3F3;
    border-left: 1px solid #D9D9D9;
    border-right: 1px solid #D9D9D9;
    overflow: hidden;
    margin: 0 auto;
}

#menu{
    list-style-type: none;
    margin: 0;
    margin-top: 0px;
    padding: 0;
    overflow: hidden;
    background: #3B383A;
}
#menu li {
    float:left;
    line-height: 25px;
}
#menu li img {
    width:180px;
    margin: 12px;
}
#menu li a.linkAnchor {
    display: block;
    color: white;
    text-align: center;
    padding: 25px 20px;
    text-decoration: none;
    color: #F5F5F5;
}

#menu li a.active {
    background-color: #FC860C;
}

#content {
    top: 10px;
    position: relative;
    overflow: hidden;
    padding: 15px;
    min-height: 620px;
}
#contentleft {
    margin-top: 10px;
    width: 500px;
    float: left;
    margin-right: 20px;
}

#sidebar {
    width: 380px;
    float: right;
    position: relative;
    bottom: 13px;
    right: 10px;
    top: 10px;
    padding: 30px;
    border:1px solid #DCDCDC;
}

#sidebar h3{
    margin-top: 0px;
    font-size: 16px;
}



#sidebar h5{
    text-transform: uppercase;
    font-size: 14px;
}

.formUpload {
   min-height: 50px;
}

.formUpload h2 {
    line-height: 50px;
    text-align: center;
}

#background {
    font-family: Arial, Helvetica, Verdana, Sans-serif;
    font-size: 15px;
    color: #2E2E2D;
    text-align: left;
}
.centre{
	float: center;
	width: 40%;
	clear: center;
	border: 1px solid black;
	padding: 20px;
}

.divhead{
    color: #2E2E2D;
    padding: 5%;
    margin-top: 10px;
    padding: 20px;
    text-align:center;
    font-style: bold;
    font-size: 1.5em;
    border: 1px solid #F7DFB5;
    width :700px;
    position: relative;
    left: 130px;
    background-color: #FACA7D;
}
.fileuploadholder{
     width:400px;
     height: 200px;
     margin: 60px auto 0px auto;
	 border : 1px solid #F7DFB5;
	 padding: 30px;
	 background-color: #CAE9EB;


}

table{
    width: 100%;
}
table {
    border-bottom : 1px solid #F7F7F7;
    border-collapse: collapse;
    opacity: 0.95;
}
th ,td {
    padding: 5px;
    text-align: center;
}
th {
    background-color: #4E4F3E;
    color : white;
}
tr:nth-child(even) {
    background-color: #D9D9D9;
}
tr:nth-child(odd) {
    background-color: white;
}

#footerDiv {
    border-top : 1px solid #D9D9D9;
    background: #3B383A;
    margin-top: 10px;
    padding: 20px;
    text-align: center;
    font-size: 0.85em;
    color:#FAFAFA;
}